html {
    overflow-y:scroll;
}

body {
    background-image: url("../images/palm-leaf.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position:left top;
    color: #777777;
}

.header-link:hover {
    color:rgb(119, 175, 184);
    text-decoration: none;
}

h1 {
    background-color:rgb(119, 175, 184);
    color:white;
    height: 100%;
}

h1:hover{
    transition: 0.5s ease-in-out;
    background-color: rgb(148, 199, 207);
}

.btn:hover {
    transition: 0.4s ease-out;
    transform: scale(1.1);
}

h2 {
    color:rgb(119, 175, 184);
}

footer.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color:#666666;
}

footer.portfooter {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color:#666666;
}

footer {
    border-top:1rem solid rgb(119, 175, 184);
    color:#9c9c9cc7;
}

.social-section {
    padding-left:.5rem;
    padding-right:2rem;
}

a {
    color:#777777;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 3px;
}

.body-container {
    margin-bottom:1rem;
}

#lighten-text:hover {
    transition: 0.5s ease-in-out;
    color:#9e9e9e;
    text-decoration: none;
}

.card-title:hover {
    transition: 0.4s ease-out;
    transform: scale(1.1);
}

.nav-item:hover {
    transition: 0.4s ease-out;
    transform: scale(1.1);
}

#social-image:hover {
    transition: 0.4s ease-out;
    transform: scale(1.1);
}

.btn-light {
    background-color: rgb(119, 175, 184);
    border: solid rgb(103, 152, 160);
}