html {
    overflow-y:scroll;
}

body {
    background-image: url("../images/palm-leaf.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position:left top;
    color: #777777;
}

a:hover {
    color:#3c8a86;
    text-decoration: none;
}

h1 {
    background-color:#4aaaa5;
    color:white;
    height: 100%;
}

.btn:hover {
    transition: 0.4s ease-out;
    transform: scale(1.1);
}

h2 {
    color:#4aaaa5;
}

footer.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color:#666666;
}

footer.portfooter {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color:#666666;
}

footer {
    border-top:1rem solid #4aaaa5;
    color:#9c9c9cc7;
}

a {
    color:#777777;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 3px;
}

.body-container {
    margin-bottom:1rem;
}

h5:hover {
    transition: 0.4s ease-out;
    transform: scale(1.1);
}
